@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
body {
    background: #23252C;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    margin: 20px 0;
    padding: 0;
}

.App {
    width: 300px;
    height: 880px;
    background: #1A1B21;
    border-radius: 8px;
}

.imgContainer {
    width: 100%;
}

.imgContainer img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.topContainer {
    text-align: center;
}

.topContainer h1
 {
    margin: 15px 0px 0px 0px;
    font-size: 22px;
    font-weight: 700px;
    color: white;
    letter-spacing: 1px;
}

.topContainer h3{
    margin:6px 0px 0px 0px;
    color: #F3BF99;
    font-size: 14px;
    font-weight: 400;
}

.topContainer p {
    margin: 8px 0px 15px 0px;
    color: white;
    font-size: 12px;
}

.linkContainer {
    display: flex;
    justify-content: center;
}

.linkContainer button{
    height: 34px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin:0px 8px;
}

.linkContainer button img {
    width: 16px;
    margin-right: 5px;
}

.linkContainer button p {
    font-size: 14px;
}

.linkContainer .linkedin {
 background: #5093E2;
}

.linkContainer .linkedin p {
    color: white;
}

.mainbody{
    max-width: 270px;
    color: white;
    padding: 30px 20px;
   
}

.mainbody h2{
    margin: 20px 0px 5px 0px;   
}

.mainbody p{
    margin: 5px 0;
}

.bottom {
    width: 100%;
    height: 64px;
    background-color: #161619;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bottom img{
    width: 26px;
    margin:0px 15px;
}




